footer {
  border-top: 1px solid #eee;
  margin-top: 40px;
  padding-top: 20px;
  color: #eeeeee;
}

footer img {
  height: 20px;
}

footer span {
  color: #eeeeee;
  padding-left: 10px;
  font-size: 14px;
}
